.Main{
    min-height: 700px;
    background-image: url(../img/bg2.jpg);
    background-position: center;
    background-size: cover;
}

.section1{
    /* min-height: 450px; */
    background-image: url(../img/bg1.jpg);  
}

.section3 {
    /* background-image: linear-gradient(to right bottom, #dcc7aa, #e6ccb3, #efd1bd, #f7d6c7, #fedcd2); */
    background-color:#ece2de;
}

.section4{
    background-image: url(../img/banner.jpg);
}
.section5{
    background-color: rgba(198, 221, 216, 0.883);
}
.Main .navbar{
    background-color:#DCC7AA; 
}
.Main .nav_icon{
   margin-right: -5px;
}

.main-title{
    margin-top: 200px;
}
.Main .nav-title{
    font-family: 'Pacifico', cursive;  
}

.nav-item{
    font-family: 'Abril Fatface', cursive ; 
}

.nav-link {
    color:  #687a8f !important;
}

.Main .container{
    padding-top: 230px;
}

.welcome-text{
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 60px; 
    font-weight: bold;
    padding-bottom: 60px;
    font-size: 60px;
    background: -webkit-linear-gradient(#434343 0%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.des-text{
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 20px; 
    margin-bottom: 0px;
}

.btn{
    border-radius: 40px; 
}

.title{
    font-family: 'Josefin Sans', sans-serif;  
    color: #687a8f;
}

.des-text2{
    font-family: 'Josefin Sans', sans-serif; 
    color: #687a8f;
}

.s5_t1{
    font-family: 'Abril Fatface', cursive ; 
}

.section5 a{
   color:black;
}

.sign{
    font-family: 'Satisfy', cursive; 
}

.line{
    background-color: #687a8f;
    width: 40px;
}

.s1-title{
   font-family: 'Bitter'; 
   color: #434c57;
   font-size: 36px;
   font-weight: 600;
}

.btn2 {
	background-color:#bfd8d2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:11px 19px;
	text-decoration:none;
}
.btn2:hover {
    background-color: #fedcd2;
    color: white;
}
.btn2:active {
	position:relative;
	top:1px;
}

.des-text3{
    font-family: 'Josefin Sans', sans-serif; 
    color: #687a8f;
}

.head-text{
    font-family:'Josefin Sans', sans-serif;
    color: #687a8f;
    font-weight: 600; 
   font-size: 120%;
}

.line-top{
    padding-top: 14px;

}

.center-vertical{

    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    
}

.section1-img1{
    width: 80%;
    text-align: center;
}

.news{
    font-family: 'Kalam';
    color: #333;
    font-size: 50px;
    font-weight: 700;
}

.news-p{
    font-family: 'Josefin Sans', sans-serif; 
    color: #292929;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.025em;
    margin-bottom: 0;
}

.list-group-item{
    margin: 0;
    padding: 0;
    border:0;
    background-color:#ece2de;
}

.list-title{
    font-size: 23px;
    color: #333;
}

.list-group .content{
    font-family: 'Josefin Sans', sans-serif; 
    color: #687a8f;
    font-size: 18px;
}

.sub-row{
    min-height: 200px;
}

.s4-head{
    font-family: 'Bitter'; 
    font-size: 30px;
    font-weight: 600;
}

.form-control{
    border-radius: 40px;
    border:0;
    width: 400px;
}

.btn3{
    background-color:#bfd8d2;
    border-radius: 40px;
    width: 100px;
    color: #ffffff;
    height: 40px;
    width: 100px;
}

.subtitle{
    font-family: 'Bitter'; 
    color: #434c57;
    font-size: 23px;
    font-weight: 500;
}

.sub{
    font-family: 'Bitter'; 
    color: #505964f8;
    font-size: 15px;
}